* {
	margin: 0;
	padding: 0;
}

body {
	margin: 10% auto;
	width: 95%;
}

.box {
	width: 60%;
	margin: 0 auto;
	text-align: center;
}

.jz {
	font-family: simhei;
	text-align: center;
}

.jz p {
	line-height: 80px;
	text-align: center;
	font-size: 70px;
}

.jz span {
	display: block;
	height: 80px;
	line-height: 80px;
	margin: 20px 0;
	text-align: center;
	font-size: 50px;
	border: 1px dashed #999;
	color: red;
}

.start,
.stop {
	width: 350px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	font-size: 64px;
	border-radius: 10px;
	margin: 0 auto;
	color: #ffffff;
	cursor: pointer;
}

.start {
	background: #24ADD7;
}

.stop {
	background: #FC6666;
}